html {
    box-sizing: border-box;
}

body {
    margin: 0;

    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

:root {
    --dark-slate-gray: #283d3bff;
    --darker-slate-gray: #1e2e3bff;
    --caribbean-current: #197278ff;
    --carribbean-current-lighter: #549292ff;
    --champagne-pink: #edddd4ff;
    --darker-champagne-pink: #edddd4a8;
    --persian-red: #c44536ff;
    --burnt-umber: #772e25ff;
}

#config-section {
    width: 20vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: -20vw;
    z-index: 10;

    background-color: var(--dark-slate-gray);

    transition: left 0.1s ease-in-out;
}

.config-section__navbar {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.config-section__content {
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-item__wrapper:first-child {
    padding-left: 10px;
}

.navbar-item__wrapper:last-child {
    padding-right: 10px;
}

.navbar-item {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--caribbean-current);

    width: 100%;
    height: 100%;

    border-radius: 10px;
    cursor: pointer;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    text-shadow: 0px 2px 6px var(--darker-slate-gray);
    box-shadow: 0px 2px 6px var(--darker-slate-gray);

    transition: background-color 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.navbar-item:hover {
    background-color: var(--carribbean-current-lighter);
    scale: 1.03;

    text-shadow: 0px 2px 3px var(--darker-slate-gray);
    box-shadow: 0px 2px 3px var(--darker-slate-gray);
}

.navbar-item:hover .material-symbols-rounded, .navbar-item:hover .navbar-item__text {
    transform: scale(1.03);
}

.navbar-item__text {
    font-size: 10px;
    letter-spacing: 0.08em;
    font-weight: bold;
    color: var(--champagne-pink);

    transition: transform 0.1s ease-in-out;
}

.material-symbols-rounded {
    font-size: 24px !important;
    color: var(--champagne-pink);

    transition: transform 0.1s ease-in-out;
}

.popup-bg {
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: transparent;

    transition: background-color 0.1s ease-in-out;

    user-select: none;
    pointer-events: none;
}

.popup-shape {
    width: 500px;
    height: 300px;

    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 250px);
    z-index: 11;

    position: relative;

    background-color: var(--dark-slate-gray);
    border-radius: 10px;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 6px var(--darker-slate-gray);

    transition: opacity 0.1s ease-in-out;
}


.popup-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;
}

/* .popup-main-container {
    width: 100%;
    height: 100%;
} */

.popup-title {
    font-size: 32px;
    font-weight: lighter;
    color: var(--champagne-pink);

    padding: 50px;
    padding-bottom: 40px;
    padding-top: 20px;

    text-shadow: 0px 2px 3px var(--darker-slate-gray);

    width: 100%;

    text-align: center;
    transition: transform 0.1s ease-in-out;
}

.shine-div {
    position: absolute;

    width: 50px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.26);

    rotate: 45deg;

    top: -80px;
    left: -100px;

    opacity: 0.5;
    filter: blur(2px);

    pointer-events: none;

    transition: left 0.3s ease-in-out;
}


.popup-main-area {
    width: 100%;
    /* height: calc(100% - 50px); */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.popup-main-area-link, .popup-main-area-image, .popup-main-area-text {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 100px;
    height: 100px;

    overflow: hidden;

    border-radius: 10px;
    margin: 5px;

    cursor: pointer;
    position: relative;

    background-color: var(--caribbean-current);

    box-shadow: 0px 2px 6px var(--darker-slate-gray);

    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.popup-main-area-link > p, 
.popup-main-area-image > p, 
.popup-main-area-text > p {
    font-size: 12px;
    font-weight: bold;
    color: var(--champagne-pink);

    pointer-events: none;

    text-shadow: 0px 2px 3px var(--darker-slate-gray);

    transition: transform 0.1s ease-in-out;
}

.popup-main-area-link-icon, .popup-main-area-image-icon, .popup-main-area-text-icon {
    font-size: 44px !important;
    color: var(--champagne-pink);

    pointer-events: none;

    text-shadow: 0px 2px 3px var(--darker-slate-gray);

    transition: transform 0.1s ease-in-out;
}

.popup-main-area-link:hover, .popup-main-area-image:hover, .popup-main-area-text:hover {
    transform: scale(1.03);

    background-color: var(--carribbean-current-lighter);
}


.popup__close-button {
    width: auto;
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    cursor: pointer;
    user-select: none;

    margin: 10px;
}

#hide-config {
    width: 30px;
    height: 50px;

    position: absolute;
    top: calc(50vh - 25px);
    right: calc(100% - 20vw - 30px);
    z-index: 10;

    background-color: var(--dark-slate-gray);
    border-radius: 0 10px 10px 0;

    cursor: pointer;

    transition: left 0.1s ease-in-out;
}

#hide-config__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hide-config__wrapper #hide-config-icon {
    font-size: 20px;
    font-weight: bold;
    color: var(--champagne-pink);

    user-select: none;

    transition: rotate 0.1s ease-in-out;
    rotate: 0deg;
}

#app {
    width: 100%;
    height: 100vh;

    background-color: var(--darker-slate-gray);
    
    position: relative;
}

.grid-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 400px;
    height: 400px;
}

.note-box {
    position: absolute;
    color: var(--champagne-pink);
    font-size: large;
    background: linear-gradient(135deg, rgba(45,159,166,1) 0%, rgba(25,114,120,1) 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 55px -22px rgba(255, 255, 255, 0.24), inset 0px 0px 24px 0px rgba(28, 65, 83, 0.404);
    padding: 10px;
}

.note-box a {
    color: var(--darker-slate-gray);
    text-decoration: none;
}

.note-box > p {
    display: block;
}

.edit-menu {
    position: absolute;
    bottom: 10px;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    opacity: 0.3;
}

.edit-menu > i {
    font-size: 20px !important;
    color: var(--darker-champagne-pink);
    padding-right: 2px;

    cursor: pointer;
}

.resize-icon {
    position: absolute;
    right: 5px;
    bottom: 10px;

    opacity: 0.3;

    font-size: 20px !important;
    color: var(--darker-champagne-pink);
    cursor: sw-resize;
}

/* .resize-icon:hover {
    color: var(--darker-champagne-pink);
} */