<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icons -->
    <link rel="icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Storage Web</title>
</head>

<body>
    <div id="config-section">
        <div class="config-section__navbar">
            <div class="navbar-item__wrapper"><div class="navbar-item"><span class="material-symbols-rounded">add_circle</span></div></div>
            <div class="navbar-item__wrapper"><div class="navbar-item">s</div></div>
            <div class="navbar-item__wrapper"><div class="navbar-item"><span class="material-symbols-rounded">settings</span></div></div>
        </div>

        <div class="config-section__content"></div>
    </div>

    <div id="hide-config">
        <div id="hide-config__wrapper">
            <span class="material-symbols-outlined" id="hide-config-icon">arrow_forward_ios</span>
        </div>
    </div>

    <div id="app"></div>

    
    <script src="../assets/js/index.js"></script>
</body>
</html>